@import "reset.css";
@font-face {
    font-family: 'digigal-7';
    src: url(./font/digital_7/digital-7.ttf);
}

body {
    height:100dvh;
    background-color: #000;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;    /* 세로 가운데 정렬 */
}

#text {
    font-size:6rem;
    background-color: black;
    font-family: 'digital-7';
    text-align: center;
    color:greenyellow;
    opacity: 0; 
    transition: opacity 0.5s ease;
}